* {
    margin: 0 auto;
    padding: 0 auto;
    font-family: tahoma;
}

.logo-inicio img {
    width: 20vw;
}

header {
    display: grid;
    grid-template-columns: 25vw 3fr 1fr;
    align-items: center;
    
}
.menu ul {
    display: flex;
    list-style: none;
    gap: 50px;
}
.menu a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.menu a::after {
    content: "";
    width: 0px;
    height: 4px;
    background-color: rgb(255, 92, 92);
    display: grid;  
    transition: all 0.5s;
}

.menu a:hover::after {
    width: 50px;

}

.menu a:hover {
    color: rgb(255, 92, 92);
    transition: all 0.5s; 
}

header input {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 12px;
    border: none;
    background-color: rgb(255, 92, 92);
}

header input:hover {
    color: white;
    transition: all 0.5s;
    cursor: pointer;
}

#inicio .chamada {
    display: grid;
    margin-top: 2vw;
    margin-bottom: 4vw;
    background-color: rgb(255, 92, 92);
    padding: 5vw;
    margin: 0 auto;
}

#inicio h1 {
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 2vw;
}

#inicio .localizar-carros input {
    border-radius: 12px;
    padding: 1vw;
    width: 25vw;
    margin-right: 2vw;
    border: none;
}

#inicio .img-capa img {
    width: 100%;
    opacity: 0.7;
    
}

#inicio .frase h2 {
    font-size: 45px;
    font-weight: bold;
}

#inicio .frase p {
    display:flex;
    align-items: center;
    padding: 10px;
}

#inicio .frase {
    position: absolute;
    opacity: 1;
    left: 20%;
    top: 90%;
    
}

#quem-somos h1{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 50px;
    background-color: rgb(255, 92, 92);
    margin-top: 20px;
    margin-bottom: 20px;
}

#quem-somos div{
    display: grid;
    grid-template-columns: 700px 150px 560px;
    align-items: center;
}

#quem-somos div ul{
    list-style: none;
}

#quem-somos div ul li{
    padding-top: 50px;
    text-align: justify;
}

#quem-somos div ul p{
    padding-top: 8px;
    text-align: justify;
    line-height: 30px;
}

#quem-somos div ul li img{
    width: 80px
}

#lista-icones{
    padding-top: 30px;
}

#quem-somos div ul li h2:hover{
    
}

.titulo-plano {
    text-align: center;
    font-size: 32px;
}

.nav-planos {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 14px;
    align-items: center;
    padding: 18px;
}

.div-planos {
    display: flex;
    flex-direction: column;
    
}

.card-plano {
    width: 90%;  
}

.lista-planos {
    list-style: none;
    text-align: center;
}

.item-planos {
    text-align: center;
    font-size: 26px;
}

#trabalhe-conosco h1{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(255, 92, 92);
    margin-top: 80px;
}

#trabalhe-conosco h2{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#trabalhe-conosco h3{
    margin-left: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#trabalhe-conosco p{
    margin-left: 60px;
    margin-bottom: 20px;    
}

#trabalhe-conosco div ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
    margin-top: 20px;
    row-gap: 30px;
    margin-left: 0px;
}

#trabalhe-conosco div ul li {
    border: 2px solid rgb(165, 165, 165);
    border-radius: 10px;
    color: rgb(255, 92, 92);
    height: 50px;   
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: center;  
}

#trabalhe-conosco div ul a {
    text-decoration: none;  
}

#trabalhe-conosco div ul a:hover {
    text-decoration:underline;
    text-decoration-color: rgb(255, 92, 92);
}