* {
    margin: 0 auto;
    padding: 0 auto;
    font-family: tahoma;
}

.logo-inicio img {
    width: 20vw;
}

header {
    display: grid;
    grid-template-columns: 25vw 3fr 1fr;
    align-items: center;
    
}
.menu ul {
    display: flex;
    list-style: none;
    gap: 50px;
}
.menu a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.menu a::after {
    content: "";
    width: 0px;
    height: 4px;
    background-color: rgb(255, 92, 92);
    display: grid;  
    transition: all 0.5s;
}

.menu a:hover::after {
    width: 50px;

}

.menu a:hover {
    color: rgb(255, 92, 92);
    transition: all 0.5s; 
}

header input {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 12px;
    border: none;
    background-color: rgb(255, 92, 92);
}

header input:hover {
    color: white;
    transition: all 0.5s;
    cursor: pointer;
}

#inicio .chamada {
   display: grid;
   margin-top: 2vw;
   margin-bottom: 4vw;
   background-color: rgb(255, 92, 92);
   padding: 5vw;
   margin: 0 auto;
}

#inicio h1 {
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 2vw;
}

#inicio .localizar-carros input {
    border-radius: 12px;
    padding: 1vw;
    width: 25vw;
    margin-right: 2vw;
    border: none;
}

.slogan {
    position: relative;
    color: white;
    
}
.slogan img {
    width: 100%;
    
} 

.frase {
    position: absolute;
    top: 0%;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    padding: 24vh;
    padding-bottom: 2.5vw;
    line-height: 10em;
}

.frase h2 {
    font-size: 5em;
}

.frase span {
    font-weight: bold;
    font-size: 2em;
}

#tanque {
    color:rgb(255, 92, 92);
}

.frase button {
    padding: 1.5em;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 1em;
    border: none;
    background-color: rgb(255, 92, 92);
    color: white;
}

.frase button:hover {
    background-color: white;
    color:rgb(255, 92, 92);
    transition: all 0.6s;
    cursor: pointer;
}